:root {
  --police-blue: #37586F;
}

html {
  margin: 0;
  padding: 0;
}

body {
  /* background-color: var(--police-blue); */
  margin: 0;
  padding: 0;
  /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
}

.create-recipe-h1 {
  color: #CBCCCD;
  text-align: center;
}

.sign-in-header {
  color: #CBCCCD;
}

.about-heading {
  margin: 3.5rem 0 2rem 0;
  font-weight: 600;
}

.about-holder {
  color: #CBCCCD;
}

.about-holder > * {
  background-color: #121212;
  border-radius: 20px;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-top: 10px;
}

.about-holder > *p {
  margin: 1.25rem 0;
}

.about-subheading {

}